<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<body>
    <div class="title">
        <h1>UniTrack: Tracking Made Easier</h1>
    </div>

    <div class="card-container"> 
        <div class="card">
            <img src="/images/checklist.png">
            <div class="card-content">
                <h2>Test Score Tracker</h2>
                <p>Students can record and track their test scores for each course, allowing them to monitor their academic progress over time.</p>
            </div>
        </div>

        <div class="card">
            <img src="/images/college.png">
            <div class="card-content">
                <h2>Attendance Management</h2>
                <p>Students can log their attendance for classes and track their overall attendance percentage for each course to meet the attendance requirements set by their institution.</p>
            </div>
        </div>

        <div class="card">
            <img src="/images/expenses.png">
            <div class="card-content">
                <h2>Expense Tracker</h2>
                <p>Students can keep track of their expenses related to college, including tuition fees, textbooks, stationery, and other educational expenses.</p>
            </div>
        </div>

        <div class="card">
            <img src="/images/deadline.png">
            <div class="card-content">
                <h2>Deadline Reminders</h2>
                <p>Students can set reminders for assignment deadlines, project submissions, and exam dates to help them stay organized and meet their academic commitments.</p>
            </div>
        </div>
    </div>
</body>
</html>
