<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniTrack: Your Academic Companion</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="/images/logo.png" class="logo">
            <ul>
                <li><a href="/about">About</a></li>
            </ul>
        </div>

       <div class="content">
        <h1>UniTrack</h1>
        <p>Your One Stop Destination For all <br>Your College Worries!!</p>
        <div>
            <a href="/login"><button type="button"><span></span>Log In</button></a>
            <a href="/signup"><button type="button"><span></span>Sign Up</button></a>
        </div>
       </div>

    </div>

</body>
</html>