body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.student-details {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.student-details img {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    margin-right: 10px;
}

.student-details p {
margin: 5px 0;
font-family: 'Arial', sans-serif;
font-size: 20px;
}

.card {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.card-header h3 {
    margin: 0;
    color: #333333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.attendance-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #666666;
}

.attendance-details div {
    font-family: 'Arial', sans-serif;
}

.attendance-buttons {
    display: flex;
}

.attendance-buttons button {
    margin-right: 20px;
    padding: 8px 12px;
    background-color: #007bff;
    font-size: 15px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: 'Arial', sans-serif; 
}

.attendance-buttons button:hover {
    background-color: #0056b3;
}

.delete-button {
    margin-top: auto;
    align-self: center;
    padding: 8px 12px;
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: 'Arial', sans-serif;
}

.delete-button:hover {
    background-color: #c82333;
}

.add-subject {
margin: 20px auto;
padding: 12px 15px;
font-size: 20px;
text-align: center;
display: inline-block;
background-color: #28a745;
color: #ffffff;
border: none;
border-radius: 4px;
cursor: pointer;
transition: background-color 0.3s ease-in-out;
font-family: 'Arial', sans-serif; 
}

.add-subject:hover {
    background-color: #218838;
}